* { box-sizing: border-box; }

html {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

/*============================================================================*/
/*Header*/
/*============================================================================*/

header { overflow: hidden; }

.background {
  height: 100vh;
  background-image: url("../img/wall.jpeg");
  background-size: cover;
  background-position: center;
  animation: coloredZoomOut forwards 2s .2s;
  opacity: 0;
  filter: grayscale(1);
}

.content {
  position: absolute;
    top: 0;
    left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  opacity: 0;
  animation: fadeIn forwards 4s .7s;
  color: #fff;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #fc891e;
}

.menu a {
  padding: 15px;
  color: #fc891e;
  text-decoration: none;
  border: 1px solid transparent;
  transition: all .3s;
}

.menu a:hover {
  color: #fff;
  border: 1px solid #fff;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 80vh;
  text-align: center;
}

h1 { margin: 0; }
h3 { text-transform: capitalize; }

.btn {
  width: 180px;
  margin: 0 auto;
  padding: 10px;
  font-size: 80%;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  border: 0;
  background: #42b0f4;
  cursor: pointer;
  transition: all .2s;
}

.btn:hover { background: #176291; }
/*----------------------------------------------------------------------------*/
/*Header animation*/

@keyframes coloredZoomOut {
  0% {
    opacity: 0;
    filter: grayscale(5);
  }
  100% {
    opacity: 1;
    filter: grayscale(0);
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/*============================================================================*/
/*Destinations*/
/*============================================================================*/
