* { box-sizing: border-box; }

html {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  color: #202020;
  line-height: 160%;
}

/*============================================================================*/
/*Header*/
/*============================================================================*/

header { overflow: hidden; }

.background {
  height: 100vh;
  background-image: url("../img/wall-min.jpeg");
  background-size: cover;
  background-position: center;
  animation: coloredZoomOut forwards 2s .2s;
  opacity: 0;
  filter: grayscale(1);
}

.content {
  position: absolute;
    top: 0;
    left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  opacity: 0;
  animation: fadeIn forwards 4s .9s;
  color: #fff;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #fc891e;
}

.menu a {
  padding: 15px;
  color: #fc891e;
  text-decoration: none;
  border: 1px solid transparent;
  transition: all .3s;
}

.menu a:hover {
  color: #fff;
  border: 1px solid #fff;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 80vh;
  text-align: center;
}

h1 { margin: 0; }
h3 { text-transform: capitalize; }

.btn {
  width: 180px;
  margin: 0 auto;
  padding: 10px;
  font-size: 80%;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  border: 0;
  background: #42b0f4;
  cursor: pointer;
  transition: all .2s;
}

.btn:hover { background: #176291; }
/*----------------------------------------------------------------------------*/
/*Header animation*/

@keyframes coloredZoomOut {
  100% {
    opacity: 1;
    filter: grayscale(0);
  }
}

@keyframes fadeIn {
  100% { opacity: 1; }
}

/*============================================================================*/
/*Destinations*/
/*============================================================================*/

main {
  display: flex;
  flex-direction: column;
}

section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section .text-content { text-align: center; }
section .title { text-transform: capitalize; }
section .description {
  max-width: 775px;
  margin: 0 auto;
}

hr {
  width: 200px;
  border: 1px solid #42b0f4;
  margin: 40px auto;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.destination .grid li {
  height: 350px;
  padding: 20px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

.destination .grid li.small { flex-basis: 40%; }
.destination .grid li.large { flex-basis: 60%; }
.destination .grid li.giant { flex-basis: 100%; }

/*============================================================================*/
/*Packages*/
/*============================================================================*/

section:nth-child(even) { background: #f5f5f5; }

.packages .grid li {
  padding: 50px;
  flex-basis: 50%;
}

.packages .grid li i {
  color: #42b0f4;
}

/*============================================================================*/
/*Testimonials*/
/*============================================================================*/

.testimonials .text-content .qoute {
  max-width: 775px;
  margin: 50px 0 20px;
  font-size: 120%;
  font-weight: 300;
  line-height: 120%;
}

/*============================================================================*/
/*Contact*/
/*============================================================================*/

.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding-bottom: 50px;
  width: 60%;
  margin: 0 auto;
}

input {
  flex: 1;
  margin-right: 20px;
  padding: 13px;
  font-family: 'Quicksand', sans-serif;
  border: 1px solid #42b0f4;
}
a.btn {
  text-decoration: none;
  width: auto;
}

/*============================================================================*/
/*Footer*/
/*============================================================================*/
